img {
 width: 50px;
}   

.cardImgTop {
    width: 150px;
}
#sidebarLeft {
    border-right: solid 2px white;
    background: black;
}
#sidebarRight {
    border-left: solid 2px white;
    background: black;
}